@import "/src/assets/css/colors.scss";

.icon-text-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 32px;
    background-color: transparent;
    padding: 0px 10px;
    box-sizing: border-box;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    background: $mainBlue;
    border-radius: 5px;

    img {
        width: 25px;
    }

    p {
        color: $mainWhite !important;
        font-size: 0.8rem;
        margin-left: 5px;
        font-weight: bold;
    }

    &:hover {
        background-color: $softBlue;
    }

}