$mainBlue: #0548A0;
$lightBlue: #E1EEFF;
$softBlue: #5C99E8;

$mainPurple: #843CE0;

$mainGray: #E4E4E4;
$secodaryGray: #D0D0D0;

$mainWhite: #f0f0f0;
$secodaryWhite: #f5f5f5;

$blueGradient: linear-gradient(180deg, $lightBlue 0%, $mainBlue 100%);