@import "/src/assets/css/colors.scss";

.search-input {
    height: 32px !important;
    border: solid 1px $darkGray;
    border-radius: 5px;
    display: flex;
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    input {
        flex: 1;
        height: 95%;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0px 5px;
        box-sizing: border-box;
        font-size: 15px;
    }

    img {
        width: 25px;
        height: 25px;
    }
}