@import "/src/assets/css/colors.scss";

.side-menu {
    background-color: $mainGray;
    width: 15%;
    height: 100vh;

    .logo-holder {
        width: 100%;
        display: flex;
        justify-content: center;

        .logo {
            width: 130px;
            margin: 15px 0px;
        }
    }

    hr {
        margin: 5px;
        border: none;
        background-color: $secodaryGray;
        height: 2px;
        border-radius: 2px;
    }
}