@import "/src/assets/css/colors.scss";

.doughnut-chart {
    position: relative;
    border: solid 1px $secodaryGray;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;

    h2 {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 5px;
    }

    .label {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        font-size: 2rem;
        font-weight: bold;
        color: $mainBlue;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 100%;
            margin: 0;
            margin-top: 11%;
        }
    }

    .chart {
        margin: 0 auto;
        width: 70% !important;
    }

}