@import "/src/assets/css/colors.scss";

.doughnut-chart {
    position: relative;
    border: solid 1px $secodaryGray;
    border-radius: 5px;

    p {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-weight: bold;
        color: $mainBlue;
    }

    .chart {
        margin: 0 auto;
        width: 70% !important;
        height: 70% !important;
    }

}