@import "/src/assets/css/colors.scss";

.line-chart {
    border: 1px solid $secodaryGray;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;

    h2 {
        width: 100%;
        text-align: center;
        margin: 0px;
        margin-bottom: 5px;
    }

    .chart{
        width: 100% !important;
    }

}