@import "/src/assets/css/colors.scss";

.students {
    width: 100%;
    flex-grow: 1;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;

    h1, p {
        margin: 0;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        color: $darkGray;
    }

    .table-holder {
        margin-top: 20px;

        .title-holder {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            

            .table-title {
                display: flex;

                h3 {
                    margin: 0;
                }
    
                .quantity {
                    color: $darkGray;
                    margin-left: 5px;
                }
            }

            .actions {
                display: flex;
                align-items: center;

                .search {
                    width: 300px;
                }
            }
        }

    }
}