@import "/src/assets/css/colors.scss";

.bar-chart {
    border: 1px solid $secodaryGray;
    border-radius: 5px;
    width: 100%;
    height: 100% !important;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        text-align: center;
        margin: 0;
        margin-bottom: 5px;
        font-size: 1.3rem;
    }

    .chart {
        width: 100% !important;
        height: 80% !important;
    }

}