@import "/src/assets/css/colors.scss";

body {
    font-family: Arial;
}

.content {
    display: flex;
    height: 100%;
    background-color: $mainWhite;

    .page-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}