@import "/src/assets/css/colors.scss";

.dashboard {
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;

    h1 {
        font-size: 1.5rem;
    }

    .charts {
        display: flex;
        justify-content: space-around;
        width: 100%;
        
        .bar-chart-holder {
            width: 40%;
        }

        .double-chart-holder {
            width: 35%;

            .line-chart-holder-1 {
                margin-bottom: 15px;
            }

            .line-chart-holder-1{
                height: 48.2%;
            }
        }

        .loader-indicator-holder {
            height: 100%;
            width: 20%;

            .doughnut-chart-holder-1 {
                margin-bottom: 15px;
            }
            
            .doughnut-chart-holder-1, .doughnut-chart-holder-2 {
                height: 48.2%;
            }

        }
    }
}