@import "/src/assets/css/colors.scss";

.dashboard {
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;

    h1 {
        font-size: 1.5rem;
    }

    .charts {
        display: flex;
        justify-content: space-around;
        width: 100%;
        
        .bar-chart-holder {
            width: 40%;
        }

        .double-chart-holder {
            width: 35%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .line-chart-holder {
                height: 45%;
            }

            .doughnut-chart-holder {
                height: 45%;
                display: flex;
            }
        }

        .loader-indicator {
            width: 20% !important;
        }
    }
}