@import "/src/assets/css/colors.scss";

.overlay {
    background-color: $shadow;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    top: 0;
    left: 0;
    overflow: hidden;

    .modal {
        width: 600px;
        padding: 10px;
        border-radius: 5px;
        background: $mainWhite;

        .banner {
            width: 100%;
            height: 100px;
            border-radius: 5px;
            background: $secodaryGray;
            position: relative;

            .photo {
                position: absolute;
                width: 90px;
                height: 90px;
                border-radius: 90px;
                top: 45px;
                left: 20px;
                background: $mainWhite;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border: solid 2px $mainWhite;
            }
        }

        .student-data {
            padding-top: 50px;
            width: 25%;
            margin-bottom: 20px;

            h3, p {
                margin: 0;
                text-align: center;
            }

            p {
                color: $darkGray;
            }
        }

        hr {
            margin: 10px;
        }

        .data {
            display: flex;
            padding: 0px 15px;
            align-items: center;
            justify-content: space-between;

            .email {
                width: 89%;
            }

            .name-input {
                width: 40%;
            }
        }

        .buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 140px;

            .delete-button {
                background: $lightRed;
                border: solid 1px $red;
                box-sizing: border-box;
                
                p {
                    color: $red !important;
                }

            }
        }
        
        .options {
            display: flex;

            .submit-button {
                background: $mainBlue !important;
                color: $mainWhite !important;
                margin-left: 12px;
            }
        }
    }
}